<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checker board</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>
<body>
    <table>
        {% for i in range(4):%}
        <tr>
            {% for i in range(2):%}
            <td class="color1"></td>
            <td class="color2"></td>
            {%endfor%}
        </tr>
        <tr>
            {% for i in range(2):%}
            <td class="color2"></td>
            <td class="color1"></td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</body>
</html>