<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Books & Authors</title>
    <style>
        p{
            margin: 4px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="info">
            <h1>Book Name: {{book.title}}</h1>
            <p>ID: <b>{{book.id}}</b></p> 
            <p>Description: <b>{{book.desc}}</b></p> 
            <p>Authors: </p> 
            <ul>
                {% for author in book.authors.all%}
                <li>{{author.first_name}} {{author.last_name}}</li>
                {%endfor%}
            </ul>
            <form action="/addAuthorToBook/{{book.id}}/" method="post">
                {% csrf_token%}
                <select class="select" name="author_id" >
                    {% for author in authors%}
                    <option value="{{author.id}}">
                        {{author.first_name}} {{author.last_name}}
                    </option>
                    {%endfor%}
                </select>
                <button class="btn-add">Add</button>
            </form>
            <form action="/" method="post">
                {% csrf_token%}
                <button class ="go">Go back</button>
            </form>
        </div>
    </div>
</body>
</html>