<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapping">
    <h1>Counter</h1>
    <p>{{request.session.counter}} times </p>
    <form action="/double_session">
        <button type="submit"> +2</button>
    </form>
    <br>
    <form action="/destroy_session">
        <button type="submit">Reset</button>
    </form>
    
</div>
</body>
</html>