<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playGround Assignment</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
</head>
<body>
    <div class="welcome">
    <h1>Welcome!</h1>
    </div>
    
    <div class="main">
        {%for i in range(_num)%}
            <div class="i"></div>
        {%endfor%}
    </div>
</body>
</html>