<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Random Numbers</h1>
{% for number in random_numbers %}
    <p>{{ number }}</p>
{% endfor %} -->
<h1>Students</h1>
{% for u in user %}
    <p>{{ u['first_name'] }} - {{ u['last_name'] }} - {{ u['first_name'] + u['last_name'] }}</p>
{% endfor %}

</body>
</html>